/* ===============================
   IMPORT CSS
   =============================== */

@import "@{templateCommon}/basekit-bootstrap.less";

body {
  background-color: @color-swatch1;
  margin: 0;
  padding: 0;
  font-family:@font-swatch5-font-family;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 960px;
        margin: 0 auto;
    }
}

.main {
    padding-top: 4em;
}



/* ===============================
   CUSTOM CSS
   =============================== */

.menu-name, .menu-description {
  position: relative;
  text-align:center;
  padding: 0;
}

.companytitle {
  position: relative;
  width: 100%;
  border-top: 3px solid @color-swatch5;
  display: block;
  margin: 0 auto;
  padding:20px;
  height:0;
  margin-top:30px;
  margin-left:-20px;
}

.widget.companyname{
  text-align: center;
  margin: 0;
}

body.edit .widget.navigation, body.edit .widget.extendednavigation {
 overflow: visible;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.tabletmob-nav {
    display: none;
    background-color: @color-swatch7;
    @media @tablet {
        display: inline-block;
        width: 100%;
        z-index: 99999;
        min-height: 40px;
    }
}

.desktop-nav {
    display: block;
    @media @tablet {
        display: none;
    }
    .widget.extendednavigation {
        width: 100%;
        position: absolute;
        background-color: fade(@color-swatch5, 30%);
    }
}

.widget {
    .extendednavigation {
        float: none;
        position: relative;
        max-width: 100%;
        min-height: 40px;
        li {
            ul {
                display: none !important;
            }
        }
        ul {
            display: table;
            float: none;
            margin: 0 auto;
            text-align: center;
            padding: 0;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                margin: 0;
                padding: 50px 0 0;
            }
            li {
                float: left;
                display: block;
                padding: 15px 0;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    border-bottom: 1px dotted fade(@color-swatch1,30%);
                }
                &:last-child {
                    @media @tablet {
                        border-bottom: 1px solid @color-swatch1;
                    }
                }

                &:hover {
                    ul {
                        display: block !important;
                        position: absolute;
                        background-color: @color-swatch7;
                        z-index: 500;
                        padding: 0;
                        margin: 15px 0 0 0;
                        li {
                            display: block;
                            width: 100%;
                                .box-sizing {
                                    a {
                                        display: block;
                                        padding: 0;
                                    }
                                }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: underline;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 20px;            
                    cursor: pointer;
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @font-swatch6-color;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        &:after {
                            content: "\25BC";
                            font-size: 5px;
                            position: absolute;
                            top: 1px;
                            display: block;
                            z-index: 9999999;
                            right: 0;
                            color: @color-swatch6;
                            @media @tablet {
                                font-size: 10px;
                                padding-right: 10px;
                            }
                        }
                        &:hover {
                            color: @font-swatch6-color-hover;
                            text-decoration: underline;
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            margin-top: 15px;
                        }
                        li {
                            a {
                                .text {
                                    padding: 0;
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        a {
           &.pull {
               display: none;
               @media @tablet {
                   display: block;
                   margin: 0;
                   width: 20px;
                   height: 44px;
                   position: absolute;
                   top: -3px;
                   left: 48.5%;
                   &:hover {
                       cursor: pointer;
                   }
                   &:after {
                       content: '';
                       position: absolute;
                       width: 100%;
                       height: 3px;
                       background: @color-swatch6;
                       top: 15px;
                       left: 0;
                       box-shadow: 0 6px 0 @color-swatch6, 0 12px 0 @color-swatch6;
                   }
               }
            }
        }
    }
}

.widget .extendednavigation ul li.folder:after {
    display: none;
}

/* ===============================
   FEATURE
   =============================== */


.widget.feature .feature-bgimg, .widget.feature .feature-bgimg .content {
   height: 480px;
   @media @tablet {
       height: 400px;
   }
   @media @mobile {
       height: 380px;
   }
}

.widget.feature .feature-bgimg .content {
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

.widget.feature .content .spare {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 2em 0 1.2em;
    margin: 0 auto; 
    height: 182px;
    @media @tablet {
        padding: 1.8em 0 1em;
        height: 170px;
    }
    @media @mobile {
        padding: 1em 0;
        height: 155px;
    }
}

/* FEATURE TITLE & STRAPLINE */

.widget.feature .feature-bgimg .content {
        h2, h3 {
            width: 90%;
            margin: 0 5%;
            padding: 0;
            @media only screen and (min-width: 1140px) {
                width: 960px;
                margin: 0 auto;
            }
        }
        h2 {
            font-family: @font-swatch8-font-family;
            font-size: @font-swatch8-font-size;
            font-weight: @font-swatch8-font-weight;
            line-height: @font-swatch8-line-height;
            color: @font-swatch8-color;
            letter-spacing: @font-swatch8-letter-spacing;
            @media @mobile {
                font-size: bkscale(@font-swatch8-font-size,0.8);
                line-height: bkscale(@font-swatch8-line-height,0.8);
            }
        }
        h3 {
            font-family: @font-swatch9-font-family;
            font-size: @font-swatch9-font-size;
            font-weight: @font-swatch9-font-weight;
            line-height: @font-swatch9-line-height;
            color: @font-swatch9-color;
            letter-spacing: @font-swatch9-letter-spacing;
            @media @mobile {
                font-size: bkscale(@font-swatch8-font-size,0.8);
                line-height: bkscale(@font-swatch8-line-height,0.8);
            }
        }
}

.widget.feature .feature-bgimg .content button {
    margin-top: 1em;
    padding: 10px 20px;
    border: 2px solid @color-swatch1;
    background-color: transparent;
    color: @color-swatch1;
    @media @tablet {
        padding: 7px 20px;
    }
}

.nav-header {
    line-height: 0;
}

/* ===============================
   HEADER
   =============================== */
.bk-header .wrapper .companyheader {
    margin: 0 !important;
}

.feature-content {
    position: relative;
}

.bk-header {
    background-color: transparent;
    margin-bottom: 2.5em;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    .wrapper {
        position: relative;
        .companyheader {
            position: absolute;
            width: 100%;
            top: 90px;
            @media @tablet {
                margin: 30px 0 25px;
                top:20px;
            }
            .logo, .companyname {
                text-align: center;
                float: none;
            }
            .logo {
                min-height: 159px;
                min-width: 210px;
                margin: auto;
                img {
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .companyname {
                margin: 12px 0 0;
                a {
                    display: block;
                    padding: 0;
                    font-family: @font-swatch10-font-family;
                    font-weight: @font-swatch10-font-weight;
                    color: @font-swatch10-color;
                    line-height: @font-swatch10-line-height;
                    letter-spacing: @font-swatch10-letter-spacing;
                    font-size: @font-swatch10-font-size;
                        &:hover {
                            text-decoration: none;
                        }
                        @media @mobile {
                            font-size: bkscale(@font-swatch10-font-size,0.8);
                            line-height: bkscale(@font-swatch10-line-height,0.8);
                        }
                }
            } 

        } /* end companyheader */

    } /*end wrapper*/

} /*end header*/


/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
}

.widget.profile form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.widget.profile form label {
  display: none;
  width: 100%;
  float: left;
  margin-bottom: 6px;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
}

.widget.profile form fieldset input {
  height: 47px;
  background-color: darken(@color-swatch2,10%);
  border: 1px solid darken(@color-swatch2,15%);
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: 300;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
  text-indent: 16px;
  padding:0;
}

.widget.profile form input:focus {
    outline: none;
}

.widget.profile form button {
  padding: 4px 20px;
  border: 2px solid @color-swatch4;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight: @font-swatch7-font-weight;
  line-height: @font-swatch7-line-height;
  color: @font-swatch7-color;
  letter-spacing: @font-swatch7-letter-spacing;
  text-decoration: none;
  background-color: transparent;
}

.widget.profile form button:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */


.bk-pt-default .widget.menusections {
  margin-top: 50px;
}

.widget.menusections {
    background-color:rgba(1, 1, 1, 0.05);
    text-align: center;
    padding: 1em;
    margin: 0;
    @media @tablet {
        padding: 0;
    }
    ul {
        display: block;
        margin: 0px;
        padding: 0;
        @media @tablet {

        }
        li {
            float: none;
            display: inline-block;
            @media @tablet {
                width: 100%;
                padding: 1em 0;
                border-bottom: 1px dotted @color-swatch6;
                margin:0;
                &:last-child {
                    border-bottom: 0;
                }
            }
            a {
                display: block;
                font-family:@font-swatch6-font-family;
                font-size:@font-swatch6-font-size;
                font-weight: @font-swatch6-font-weight;
                color: @color-swatch5;
                line-height:@font-swatch6-line-height;
                letter-spacing: @font-swatch6-letter-spacing;
                &:hover {
                    text-decoration: underline;
                }
                &:after {
                  content: "";
                  font-size: 0.7em;
                  padding-left:10px;
                  position: absolute;
                  color: @color-swatch5;
                }
            }
            &:last-child a:after {
                content:"";
            }
        }
    }
}



/* ===============================
   MENU
   =============================== */


.menu-subsection {
  padding:0px;
  margin:0px;
  text-align: center;
}

.widget {
    &.menu {
        margin-top: 0.3em;
        float: left;
        width: 100%;
        .main {
            padding: 0;
            border-top: 0;
            display: none;
            &.selected {
                display: block;
                float: left;
                @media only screen and (max-width: 850px) {
                    width: 100%;
                    margin: 0;
                    padding: 10px 0;
                }
            }

                ol, li { /* removes list-style on sections and items */
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    border: none;
                } 

            /* SECTION AND SUB-SECTION HEADERS */

            .menu-header, .menu-subsection-header {
                margin: 0;
                padding: 3em 0 2em;
                @media @tablet {
                    padding: 2em 0 0.5em;
                }
                text-align: center;
                p { /* description */
                    padding: 5px 0 0; 
                }
            } /* end MENU-HEADER AND SUB-SECTION HEADER */
            .menu-header p {
                color: @color-swatch4;
            }
            .menu-subsection-header {
                padding: 1em 0 2em;
            }


            /* ITEMS */

               .menu-items {
                    width: 100%;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 4em;
                    -moz-column-count: 2;
                    -moz-column-gap: 4em;   
                    column-count: 2;
                    column-gap: 4em;
                    > * {
                        break-inside: avoid;
                        -webkit-column-break-inside: avoid;
                        -moz-column-break-inside: avoid;
                        -ms-column-break-inside: avoid;
                        -o-column-break-inside: avoid;
                    }
                    @media only screen and (max-width: 550px) {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                    }
                    &.odd {
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;
                        @media only screen and (max-width: 850px) {
                            -webkit-column-count: 2;
                            -webkit-column-gap: 4em;
                            -moz-column-count: 2;
                            -moz-column-gap: 4em;   
                            column-count: 2;
                            column-gap: 4em;
                        }
                        @media only screen and (max-width: 550px) {
                            -webkit-column-count: 1;
                            -moz-column-count: 1;
                            column-count: 1;
                        }
                        &.bk1-columns {
                            -webkit-column-count: 1;
                            -moz-column-count: 1;
                            column-count: 1;
                            li {
                                &.menu-item-promoted { 
                                    display: block;
                                }
                                .inner-item {
                                    .menu-item-image-wrap {
                                        margin: 0 auto;
                                        @media @mobile {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    li { /* menu-item */
                        position: relative;
                        display: block;
                        text-align: center;
                        padding: 0;
                        margin-bottom: 0;
                         &.menu-item-promoted { /* menu-item-promoted */
                            display: block;
                            margin: 14px 1px 20px;
                            .inner-item {
                                border: 0;
                                padding: 0;
                                margin: 0;
                                h3 {
                                    margin-top: 0 !important;
                                    margin-bottom: 7px;
                                    padding: 10px 5px 3px;
                                    border-top: 1px solid lighten(@color-swatch3, 20%);
                                    border-bottom: 1px solid lighten(@color-swatch3, 20%);
                                    &:after { 
                                       content: image('/images/star.png');
                                       position: absolute;
                                       top: -10px;
                                       left: 0;
                                       right:0;
                                       color: @color-swatch3;
                                       background-color: @color-swatch3;
                                       width:29px;
                                       height:20px;
                                       margin:0px auto;
                                       padding:0;
                                    }
                                }
                            }
                        }   /* end menu-item-promoted */

                        .inner-item {
                            display: block;
                            width:100%;
                            padding: 2em 0;
                            h3 { /* menu-item-name */  
                                padding: 0;
                                margin-bottom: 0px;
                            }
                            .menu-item-image-wrap {
                                background-size:cover;
                                background-repeat: no-repeat;
                                height: 200px;
                                background-position: center;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                img {
                                    display: none;
                                }
                            }
                            li {
                                border-bottom: 0;
                            }
                            ul, ol, li { /* removes list-style */
                                list-style: none;
                                padding: 0;
                                margin: 0;
                            } 
                            .menu-item-price p {
                                font-family:@font-swatch3-font-family;
                                font-size:@font-swatch3-font-size;
                                font-weight: @font-swatch3-font-weight;
                                line-height:@font-swatch3-line-height;
                                color: @color-swatch2;
                                letter-spacing: @font-swatch3-letter-spacing;
                                padding: 0px;
                                margin: 0;
                                display: inline-block;
                            }
                            p { /* item-description */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color:@font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0 0 0.5em 0;
                                padding: 0;
                            }

                            h4  { /* nutritional-title */
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                letter-spacing: @font-swatch5-letter-spacing;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-item-nutritional-prop { 
                                font-size:@font-swatch5-font-size;
                                font-weight: @font-swatch5-font-weight;
                                line-height:@font-swatch5-line-height;
                                color: @font-swatch5-color;
                                float: left;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                            }
                            .menu-section-item-dietary-props {
                                float: left;
                                width: 100%;
                                margin-top: 0px;
                                padding: 0 0 0 1px;
                               .dietary-icon {
                                    background-color:rgba(1, 1, 1, 0.05);
                                    width: auto;
                                    border: none;
                                    font-family:@font-swatch5-font-family;
                                    font-size:@font-swatch5-font-size;
                                    display: inline-block;
                                    z-index: 9999999;
                                    color: fade(@color-swatch5,70%);
                                    float: none;
                                    margin-right: 0px;
                                    margin-bottom: 5px;
                                    padding: 0 3px;
                                }
                                .not-spicy-icon {
                                    display: none;
                                }
                            } /* end menu-section-item-dietary-props */   


                            .menu-item-description, .menu-section-item-description {
                                margin-bottom: 0.5em;
                            }
                          .clearfix;
                        } /* end inner-item */

                    } /* end li menu-item */

                } /* end ol */  

                .menu-subsection .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                    padding: 0;
                    margin: 0 0 1em;
                    position: relative;
                    padding: 1em 2em;
                    &:before {
                       content: " ";
                       position: absolute;
                       top: 3px;
                       left: 3px;
                       right: 3px;
                       bottom: 3px;
                       border: 1px solid @color-swatch4;
                   }
                    @media @mobile {
                        padding: 0 2em 0;
                    }
                    .menu-subsection-header {
                        margin: 20px 0;
                        padding: 2em 0 0.2em;
                        @media @mobile {
                            padding: 0;
                        }
                    }
                } /* end PROMOTED SUB-SECTION */

                .menu-info {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    p { /* menu-note */
                      float: left;
                      width: 100%;
                      padding: 2em 0;
                      color: @color-swatch3;
                    }
                } /* end menu-info */
        } /* end main */
    } /* end .widget.menu */
} /* end .widget */

/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            @media @tablet {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
                @media @tablet {
                    top: 1px!important;
                }
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
                @media @tablet {
                    top: 1px!important;
                }
            }
        }
        /* Play Button */
        .btn-play {
            top: 40%;
            width: 50px;
            height: 50px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
                line-height: 51px;
            }
            @media @tablet {
                top: 43%;
                width: 40px;
                height: 40px;
                &:after {
                    line-height: 38px;
                    font-size: 26px;
                }
            }
            @media @mobile {
                top: 41%;
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
                width: 11px;
                height: 11px;
            }
        }
    }
}
                
/* ===============================
   BLOG
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            background-color: darken(@color-swatch1,6%);
            padding:20px;
            margin:20px 0;
        }
        .blog-post-feature-image-wrap {  /* Blog post feature image */
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 250px;
            width: 250px;
            margin-bottom: 20px;
            img {
                display: none;
            }
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        label {
            display: block;
            margin-bottom: .6em;
            font-family: @font-swatch4-font-family;
            font-size: @font-swatch4-font-size;
            font-weight: @font-swatch4-font-weight;
            line-height: @font-swatch4-line-height;
            color: @font-swatch4-color;
            letter-spacing: @font-swatch4-letter-spacing;
        }
        input {
            height: 39px;
            width: 63%;
            background-color: darken(@color-swatch1,5%);
            border: none;
            @media @mobile {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        button {
            background-color: @font-swatch7-background-color;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            color: @font-swatch7-color;
            letter-spacing: @font-swatch7-letter-spacing;
            padding: 12px 49px;
            margin: 0;
            border: none;
            text-decoration: none;
            &:hover {
                -webkit-transition: background-color 0.15s ease-in-out;
                -moz-transition: background-color 0.15s ease-in-out;
                -o-transition: background-color 0.15s ease-in-out;
                transition: background-color 0.15s ease-in-out;
            }
        }
    }
}


/* ===============================
   FOOTER
   =============================== */

footer.bk-footer {
  padding: 2em 0em 4em 0em;
  margin:2em auto 0;
  text-align:center;
  display:table;
  min-height:0;
  background-color:transparent;
  border-top: 1px solid @color-swatch4;
}

/* ===============================
   FORM
   =============================== */

.widget {
    &.contactform {
        form {
            padding: 0
        }
    }
}



/* ===============================
   BUTTONS CSS
   =============================== */

.widget.button button, .widget.contactform fieldset button.btn, .widget.paypalbuynow .widget.button.paypal, .widget.tweet a, .widget.dropbox button, .widget.signupform fieldset button, .widget.blogsearch form button, .widget.profile form button {
    border: 2px solid @color-swatch3;
    background-color: transparent;
    text-decoration: none;
    &:hover {
        background-color: transparent;
        color: darken(@font-swatch7-color,10%);
        cursor: pointer;
        -webkit-transition: background-color 0.15s ease-in-out;
        -moz-transition: background-color 0.15s ease-in-out;
        -o-transition: background-color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out;
    }
}


.widget.paypalbuynow .widget.button.paypal {
  background-image: image('/images/paypal.png');
}

.widget.dropbox .b-wrap .btn {
  background-image: image('/images/dropbox-icon.png');
}

.widget.tweet a, .widget.tweet a:hover, .tweet a:active {
  background-image: image('/images/tweet.png');
  }

.widget.clicktocall a, .widget.clicktocall a:hover {
    @media @mobile {
        background-image: image('/images/ic-desktop-call.png');
        border: 2px solid @color-swatch3;
    }
}

/* =======================================
   CLICK TO CALL
   ==================================== */

  .widget.clicktocall a {
    padding: 10px 10px 10px 38px;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    color: @font-swatch7-color;
    text-decoration: none;
}

    .widget.clicktocall a:hover {
        cursor: pointer;
    }

    .widget.clicktocall a:active {
        box-shadow: inset 0 2px 3px rgba(0,0,0,0.1)
    }


/* ===============================
   TWITTER WIDGET
   =============================== */

.widget.twitter ul {
    padding: 0px;
    margin: 0;
    margin-top:50px;
}


.widget.profile form fieldset input {
  height: 50px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.05);
  border: 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  text-indent: 12px;
  margin-bottom: 10px;
  padding: 0;
}

.blogsearch form button {
  padding: 3px 20px;
  border: 2px solid @color-swatch4;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight: @font-swatch7-font-weight;
  line-height: @font-swatch7-line-height;
  color: @font-swatch7-color;
  letter-spacing: @font-swatch7-letter-spacing;
  text-decoration: none;
  background-color: transparent;
}

.blogsearch form button:hover {
  background-color: transparent;
  color: darken(@font-swatch7-color,10%);
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

/* ===============================
   SIGN UP
   =============================== */


.widget.signupform form {
    display: block;
    margin: 0 0 20px;
    background-color: @color-swatch1;
}

.widget.signupform fieldset {
    border: none;
    padding: 0;
}

.widget.signupform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@color-swatch3;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.signupform fieldset input {
    height: 40px;
    width: 63%;
    background-color: darken(@color-swatch1,5%);
    border: 1px solid darken(@color-swatch1,10%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.widget.signupform fieldset textarea {
    height: 132px;
    width: 100%;
    background-color: darken(@color-swatch1,5%);
    border: 1px solid darken(@color-swatch1,10%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.widget.signupform fieldset input:focus, .widget.signupform fieldset textarea:focus {
  outline: none;
}

/* PLACEHOLDER CSS */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-swatch5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   @color-swatch5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color-swatch5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color-swatch5;
}

.widget.signupform fieldset button.btn {
  padding: 4px 20px;
  border: 2px solid @color-swatch4;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight: @font-swatch7-font-weight;
  line-height: @font-swatch7-line-height;
  color: @font-swatch7-color;
  letter-spacing: @font-swatch7-letter-spacing;
  text-decoration: none;
  background-color: transparent;
}
  
.widget.signupform fieldset button.btn:hover {
  background-color: transparent;
  color: darken(@font-swatch7-color,10%);
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.widget.profile form fieldset input {
  height: 40px;
  width: 63%;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  font-family: Arial;
  font-size: 14px;
  color: #000000;
  text-indent: 12px;
  margin-bottom: 10px;
}

.widget.signupform fieldset button.btn.justifyleft
{
    text-align: left;
}

.widget.signupform fieldset button.btn.justifycenter
{
    text-align: center;
}

.widget.signupform fieldset button.btn.justifyright
{
    text-align: right;
}

.widget.signupform fieldset button.btn.justifyfull
{
    text-align: justify;
}

.widget.signupform fieldset button.btn.italic {
    font-style: italic;
}

.widget.signupform fieldset button.btn.bold {
    font-weight: bold;
}

/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
    padding: 0;
    background-color: @color-swatch1;
}

.widget.contactform form fieldset {
    border: none;
    padding: 0;
}

.widget.contactform form fieldset label {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch3-font-weight;
    line-height:@font-swatch4-line-height;
    color: @font-swatch5-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.contactform form fieldset input {
    height: 50px;
    width: 100%;
    background-color:rgba(1, 1, 1, 0.05);
    border:0;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    font-weight:@font-swatch3-font-weight;
    color: @font-swatch5-color;
    text-indent: 12px;
    margin-bottom: 10px;
    padding: 0;
}

.widget.contactform form fieldset textarea {
    height: 132px;
    width: 100%;
    background-color:rgba(1, 1, 1, 0.05);
    border: 0;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
    padding: 0;
}

.widget.contactform fieldset input:focus, .widget.contactform fieldset textarea:focus {
  outline: none;
}

/* PLACEHOLDER CSS */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    @color-swatch5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   @color-swatch5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @color-swatch5;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @color-swatch5;
}

.widget.contactform form fieldset button.btn {
  padding: 10px 20px;
  border: 2px solid @color-swatch4;
  font-family: @font-swatch7-font-family;
  font-size: .9em;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  text-decoration: none;
  background-color:transparent;
}
  
.widget.contactform form fieldset button.btn:hover {
  background-color: transparent;
  color: darken(@font-swatch7-color,10%);
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.widget.contactform fieldset button.btn.justifyleft
{
    text-align: left;
}

.widget.contactform fieldset button.btn.justifycenter
{
    text-align: center;
}

.widget.contactform fieldset button.btn.justifyright
{
    text-align: right;
}

.widget.contactform fieldset button.btn.justifyfull
{
    text-align: justify;
}

.widget.contactform fieldset button.btn.italic {
    font-style: italic;
}

.widget.contactform fieldset button.btn.bold {
    font-weight: bold;
}



/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  .main {
    padding:none;
    top:-50px;
  }


      /* CLICK TO CALL */

  .widget.clicktocall a {
    padding: 10px 10px 10px 38px;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    color: @font-swatch7-color;
    text-decoration: none;
}

    .widget.clicktocall a:hover {
        cursor: pointer;
    }

    .widget.clicktocall a:active {
        box-shadow: inset 0 2px 3px rgba(0,0,0,0.1)
    }

  .widget.gallery ul.gallery-widget li {
      width: 50%;
      padding-bottom: 50%;
  }

}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .widget.gallery li {
      width: 50%;
      /*padding-bottom: 50%;*/
   }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .widget.gallery li {
      width: 33.3%;
      /*padding-bottom: 33.3%;*/
   }
}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

    /* MENU */

.menu-item, .menu-section-item {
margin-bottom: 1.5em;
padding-bottom: 1.5em;
border-bottom:1px solid @color-swatch5;
}

.companytitle{
  border:0;
}

.widget.companyname{
  border:0;
  padding:0;
}

  /* CUSTOM CSS */

.main{
  padding:20px 0px 0px 0px;
  top:-30px;
}

.menu-item:last-child, .menu-section-item:last-child{
  border-bottom:none;
}

.contactform{
  top:0;
}


    /* CLICK TO CALL */

.widget.clicktocall a {
  padding: 10px 10px 10px 38px;
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight: @font-swatch7-font-weight;
  line-height: @font-swatch7-line-height;
  letter-spacing: @font-swatch7-letter-spacing;
  color: @font-swatch6-color;
  text-decoration: none;
  background-color:@color-swatch4;
}

    .widget.clicktocall a:hover {
        cursor: pointer;
    }

    .widget.clicktocall a:active {
        box-shadow: inset 0 2px 3px rgba(0,0,0,0.1)
    }

}

/* ===============================
   Print override
   =============================== */
.print-mixin {
    .header-feature,
    .extendednavigation,
    .bk-footer,
    .bk-header .widget.profile  {
        display:none;
    }
    .companyheader {
        padding:0px;
    }
    .menu-container {
        display:none;
    }
    .menu-info {
        margin:0px;
    }
    .widget.menu .main.wrapper {
        page-break-before:always;
    }
    .widget.menu .menu-item-image-wrap {
        height:150px;
    }
}

@media print {
    .print-mixin;
}

.bk-print {
    .print-mixin;
}


